section {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
    align-content: center;
    justify-content: center;
  }
  
  @media (min-width: 992px) {
    section {
      padding-top: 7.5rem;
      padding-bottom: 7.5rem;
    }
  }